<HTML><HEAD>
<STYLE type=text/css>
        body {
            font-family: Calibri;
        }

        p {
            margin: 0;
        }

        .mapping {
            background-color: #D3D4D7;
            color: black;
            padding: 1px;
        }
    </STYLE>
<!-- Instruct the web browser control to use IE 6 to render the page. -->
<META content=IE=6 http-equiv=X-UA-Compatible></HEAD>
<BODY>
<P>Dear Team Pajak,</P>
<P>&nbsp;</P>
<P>Tolong dibantu untuk pembuatan Faktur Pajak Erafone untuk PT <SPAN class=mapping contentEditable=false>{{channel}}</SPAN>&nbsp;yang Standard/Combined.</P>
<P>Berikut terlampir datanya.</P>
<P>&nbsp;</P>
<P><STRONG>Regards,</STRONG></P>
<P><STRONG>Finance</STRONG></P></BODY></HTML>